Repository hasithaishere/buildkite-monorepo-example: changes, and which Buildkite steps are due for each by the changed paths.
All: :aws-cloudformation: Cloudformation - Frontend App Hosting, :globe_with_meridians: Frontend, :aws-lambda: Lambda - IP Lookup API

.buildkite/pipeline.yml:

steps:
  - label: "Triggering pipelines"
    plugins:
      - chronotc/monorepo-diff#v2.0.4:
          diff: ".buildkite/scripts/diff"
          interpolation: false
          watch:
            - path:
                - "infra/cloudformation/frontend-host"
              config:
                command: "buildkite-agent pipeline upload infra/cloudformation/frontend-host/.buildkite/pipeline.yml"
                label: ":aws-cloudformation: Cloudformation - Frontend App Hosting"
            - path:
                - "frontend"
              config:
                command: "buildkite-agent pipeline upload frontend/.buildkite/pipeline.yml"
                label: ":globe_with_meridians: Frontend"
            - path:
                - "backend/ip-lookup-api-lambda"
              config:
                command: "buildkite-agent pipeline upload backend/ip-lookup-api-lambda/.buildkite/pipeline.yml"
                label: ":aws-lambda: Lambda - IP Lookup API"
  - wait

  # Tagging build last commit for diffing purpose
  - label: "Tag Build"
    command: "aws ssm put-parameter --name \"/buildkite/pipeline/state/$BUILDKITE_ORGANIZATION_SLUG/$BUILDKITE_PIPELINE_SLUG\" --overwrite --value \"$BUILDKITE_COMMIT\" --type String"

chore: Update page title formatting
  frontend/index.html
Due: :globe_with_meridians: Frontend

chore: Enhance Buildkite frontend build pipeline configuration
  frontend/.buildkite/pipeline.yml
Due: :globe_with_meridians: Frontend

chore: Add SAM CLI version check to frontend build pipeline
  frontend/.buildkite/pipeline.yml
Due: :globe_with_meridians: Frontend

chore: Add build logging and AWS CLI version check to frontend pipeline
  frontend/.buildkite/pipeline.yml
Due: :globe_with_meridians: Frontend

chore: Improve frontend pipeline logging with echo statements
  frontend/.buildkite/pipeline.yml
Due: :globe_with_meridians: Frontend

chore: Refactor frontend Buildkite pipeline to use build-and-deploy script
  frontend/.buildkite/pipeline.yml
  frontend/.buildkite/scripts/build-and-deploy
Due: :globe_with_meridians: Frontend

chore: Update frontend Buildkite pipeline script path
  frontend/.buildkite/pipeline.yml
Due: :globe_with_meridians: Frontend

feat: Add interactive environment and region selection for CloudFormation deployment
  frontend/.buildkite/scripts/build-and-deploy
  infra/cloudformation/frontend-host/.buildkite/pipeline.yml
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting, :globe_with_meridians: Frontend

refactor: Simplify CloudFormation deployment script and pipeline configuration
  infra/cloudformation/frontend-host/.buildkite/pipeline.yml
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

refactor: Streamline Buildkite pipeline configuration for frontend infrastructure deployment
  infra/cloudformation/frontend-host/.buildkite/pipeline.yml
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

chore: Temporarily disable frontend pipeline script and add debugging commands
  infra/cloudformation/frontend-host/.buildkite/pipeline.yml
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

fix: Re-enable frontend CloudFormation pipeline script with metadata retrieval
  infra/cloudformation/frontend-host/.buildkite/pipeline.yml
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

chore: Add debug echo statement for CloudFormation pipeline environment
  infra/cloudformation/frontend-host/.buildkite/pipeline.yml
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

chore: Add wait step and remove concurrency configuration in frontend pipeline
  infra/cloudformation/frontend-host/.buildkite/pipeline.yml
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

refactor: Simplify frontend CloudFormation pipeline generation script
  infra/cloudformation/frontend-host/.buildkite/pipeline.yml
  infra/cloudformation/frontend-host/.buildkite/scripts/step-gen-v2
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

feat: Add pipeline script execution with region and environment parameters
  infra/cloudformation/frontend-host/.buildkite/scripts/step-gen-v2
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

refactor: Enhance template parsing with cfn-flip and jq for metadata extraction
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

fix: Adjust stack name generation and script execution path in frontend pipeline
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
  infra/cloudformation/frontend-host/.buildkite/scripts/step-gen-v2
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

fix: Correct template file variable in cfn-flip command
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

fix: Correct template file argument index in generate-pipeline script
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

fix: Swap argument order in generate-pipeline script execution
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
  infra/cloudformation/frontend-host/.buildkite/scripts/step-gen-v2
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

fix: Swap argument order in generate-pipeline script execution
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

refactor: Replace yq with jq for parameter parsing in generate-pipeline script
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

feat: Generate dynamic Buildkite pipeline input fields from CloudFormation parameters
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

feat: Add Region parameter to frontend host CloudFormation template
  infra/cloudformation/frontend-host/template.yaml
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

feat: Improve Buildkite pipeline generation with automatic pipeline upload
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

feat: Improve Buildkite pipeline upload with temporary file handling
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

feat: Enhance Buildkite pipeline block with environment selection
  infra/cloudformation/frontend-host/.buildkite/pipeline.yml
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

refactor: Simplify Buildkite pipeline input block generation
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

feat: Enhance Buildkite pipeline with CloudFormation changeset workflow
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
  infra/cloudformation/frontend-host/template.yaml
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

refactor: Update Buildkite pipeline parameter configuration block
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

refactor: Remove parameters from CloudFormation changeset creation
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

refactor: Disable CloudFormation changeset workflow in pipeline generation
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

refactor: Update Buildkite pipeline input block generation
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

feat: Add descriptive input title to Buildkite pipeline generation
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

fix: Update Buildkite pipeline input block syntax
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

fix: Simplify Buildkite pipeline input block syntax
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

feat: Add CloudFormation stack execution script for frontend host
  infra/cloudformation/frontend-host/.buildkite/scripts/cfn-execute
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting

debug: Add pwd command in frontend host pipeline generation script
  infra/cloudformation/frontend-host/.buildkite/scripts/generate-pipeline.sh
Due: :aws-cloudformation: Cloudformation - Frontend App Hosting
